body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1360px;
  margin: 0 auto;
  background: #cfcfcf;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  padding-top: 11px;
}

nav {
  background-color: #f4f4f4;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

input {
  padding: 10px;border: 1px solid #d3d3d3;border-radius: 4px;
}

textarea {
  width: 100%;
  border: 1px solid #d3d3d3;border-radius: 4px;
}

/******************************************/

.container {
  display: block;
  margin: auto;
  background: white;
}

.container-menu {
  display: flex;
}

.txt-center {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  gap: 15px;
  padding: 15px;
}

#profile {
  border-radius: 50%;
  max-width: 60px;
}

.btn-submit {
  border-radius: 20px;
  font-size: 16px;
  background-color: #404f4f;
  border: 0px;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: rgb(20, 226, 226);
}

p > a {
  text-decoration: none;
  color: darkcyan;
}

.outer-div-footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  display: block;
}

.inner-div-footer {
  padding: 20px;
}